---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.mtg-card-container {
    display: flex;
    gap: 10px; /* Add space between cards */
  }
  
.mtg-card {
    display: inline-block;
    max-width: 400px; /* Adjust as needed for card size */
}
