---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.mtg-card-container {
    display: flex;
    gap: 10px; /* Add space between cards */
  }
  
.mtg-card {
    display: inline-block;
    max-width: 400px; /* Adjust as needed for card size */
}

a {
  position: relative; /* Ensure the image is positioned relative to the link */
}

a span.hover-image img {
  display: none;
  position: absolute; /* Float the image freely */
  top: 0; /* Adjust as needed to align vertically */
  left: 100%; /* Place it to the right of the link */
  z-index: 100px;
}

a:hover span.hover-image img {
  display: block;
  z-index: 100px;
  /* Optional: Add padding or margin for spacing */
}